/* Empty. Add your own CSS if you like */
#chartwrapper {
    position: relative;
    width		: 1200px;
    height		: 500px;
    background: #fff;
    /*border: 1px dotted #c00;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#chartdiv {
    position: absolute;
    top: 10px;
    left: 10px;
    width		: 1000px;
    height		: 500px;
    /*border: 1px dotted #0c0;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
